.fa {
	font-size: 18px;
}

.page-header-image {
	background-image: url("backgroundbikini.jpg");
}

.clear-filter{    
	background: linear-gradient(0deg,rgba(62,120,141,.2),rgba(0,0,0,.8));
}

.brand .h1-seo{
	font-size: 3.2rem;
}

.sidebar-collapse .navbar-collapse::before{
    /*Truesculpt id colors: 
    Purple: rgb(98,41,135)
    Green: rgb(115,187,96) 80%)
    Blue:  rgb(138,195,235)*/
    background: linear-gradient(rgb(69,29,95),rgb(92,150,77) 80%);
/*  opacity: 1;
here I can set opacity for the sidebar if desired*/
}

.section {
	padding-top: 10px;
}

#carousel-title {
	padding: 0;
}

#trusculpt-img {
	max-height: 480px;
}

.fa-suscribe {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-12px,-12px);
	line-height: 1.5626rem;
	width: 23px;
}

.fa-big {
	font-size: 30px;
}

.card {
	background: linear-gradient(rgb(69,29,95),rgb(92,150,77));
}

.center {
	margin: auto;
}

.center2 {
	text-align: center;
}


#middle-content {
	margin: 0;
	padding: 40px 0px;
}

.section-middle {
	background-color: rgb(34, 34, 34);
	color: #fff;
	padding: 70px 0;
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1300px;
  }
}

.section-signup {
	background-image: url('assets/img/bg11.jpg');
	background-size: cover;
	background-position:
	top center;
}

h4 {
	margin: 40px 0px;
}

.contributors {
	float: left;
	font-size: .8571em;
}


li[data-target="#carouselExampleIndicators"] {
	background-color: rgb(208, 208, 208);
}

.carousel-indicators .active {
    background-color: rgb(170, 170, 170);
}

.carousel-control-prev i, .carousel-control-next i {
	font-size: 18px;
}

.footer a:link { text-decoration: none; }

.footer a:visited { text-decoration: none; }

.footer a:hover { text-decoration: none; }

.footer a:active { text-decoration: none; }

